<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.caogen.blog.dao.BlogDao">

    <select id="getBlogId" resultType="java.lang.String">
        SELECT blogId FROM k_blog
        WHERE 1 = 1
        <if test="blogType != null and blogType != ''">
            AND blogType = #{blogType}
        </if>
        <if test="searchKey != null and searchKey != ''">
            AND blogName LIKE CONCAT('%',#{searchKey},'%')
        </if>
        ORDER BY blogId DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getBlogType" resultType="com.caogen.blog.entity.BlogType">
        SELECT * FROM k_type ORDER BY typeId DESC
    </select>

    <select id="getBlog" resultType="com.caogen.blog.entity.Blog">
        SELECT * FROM k_blog ORDER BY blogId DESC
    </select>

    <select id="getBlogById" resultType="com.caogen.blog.entity.Blog">
        SELECT * FROM k_blog WHERE blogId = #{blogId}
    </select>

</mapper>